/**{
    outline:1px solid rgba(255,0,0,0.3);
}*/

/*menu*/
.a_line{
        position: relative;
        font-weight:bold;
        color:#0B2161;
        margin: 0px 15px;
        text-decoration: none;
        text-align: center;
        
        }
    ul#ejm2 >li{
        display: inline-block;
        list-style-type: none;
        margin-top: 4%;
    }
    .a_line:after{
        position: absolute;
        bottom: 7px;
        left: 0px;
        width: 100%;
        height: 4px;
        background-color: #0B2161;
        content: "";
        opacity: 0;
        transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
        transform: translateY(20px); 
             
    }
    .a_line:hover:after{
        opacity:1;
        transform: translateY(15px);
    }

/*Integrantes*/
.pag_int{
    background-color: rgba(81, 108, 197, 0.3);
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}

.fot_inst{
    width: 27%;
    margin: 5% 3%;
    display: inline-block;
    vertical-align: top;
     
}
.titulos{
    margin: 0;
    padding: 2%;
    text-align: center;
    color: #0B2161;

}

.text_integr{
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    list-style-type: none;
    color: black;

}

.trabajos_eqip{
    background: #0B2161;
    padding: 2%;
    text-align: center;
}
.raya:after{
       position: absolute;
        bottom: 7px;
        left: 0px;
        width: 100%;
        height: 4px;
        background-color: #0B2161;
        content: "";
        opacity: 0;
        transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
        transform: translateY(20px); 
   
    }
    .raya:hover:after{
        opacity:1;
        transform: translateY(15px);

    }
    .raya{
        position: relative;
        font-weight:bold;
        color:#0B2161;
        margin: 0px 78px;
        text-decoration: none;
        text-align: center;
        
        }
.anaran{
    background-color: rgba(199, 88, 25, 1);
    color: #fff;
}
.blu{
    background-color: rgba(21, 42, 139, 0.9);
    color: #fff;
}
.rojo{
    background-color: rgba(202, 27, 32, 0.9);
    color: #fff;
}
.fot_inst >a > img{
    border-radius: 100%;
}
.pag_int:hover{
-moz-box-shadow: -5px -6px 13px #171e47;
-webkit-box-shadow: -5px -6px 13px #171e47;
box-shadow: -5px -6px 13px #171e47;
}
body{
    background: url(../imagenes/fondox.jpg);
    font-family: "Latolight";
    font-size: 16px;
    background-color:#fff;
    
}
h1,h2,h3{
    font-family: "Latolight";
    font-size: 22px;
    color: #0B2161;
    margin: 0;
}
@font-face{
    font-family:Latolight ;
    src: url(../fonts/Latolight.ttf);
}
a{
    text-decoration: none;
    color: #0B2161;
}
.text-center{
    text-align: center;
}
.text-gray{
    color:#424242;
}
.lista-sinestilo{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.display-ib{
    display: inline-block;
}
.ptb-2{
    padding-top: 2%;
    padding-bottom: 2%;
}
.pt-5{
    padding-top: 5%;
}
.pt-50{
    padding-top: 50%;
}
.pb-40{
    padding-bottom: 40%;
}
.pl-2{
    padding-left: 2%;
}
header img{
    max-width: 80%;
    margin-top: 3%;
    margin-bottom: 2%;
    position: relative;
    float: right;
}
.unete img{
    max-width: 35%;
    margin: 0;
    padding: 0;
}

.unete p:hover{
    color: #0B2161;
}
.redes img{
    max-width: 15%;
    margin: 0;
    padding: 0;
}
.redes img:hover{
    transform: scale(1.1);
    border-bottom: 1px solid #0B2161;
}
.opacity{
    background-color: rgba(255, 255, 255, 0.7);
}