*{
	outline:1px solid rgba(255,0,0,0.3);
}
body{
	font-family: "Latolight";
	font-size: 16px;
	color: #0B2161;
}
h1,h2,h3{
	font-family: "Latolight";
	font-size: 22px;
	color: #0B2161;
	margin: 0;
}
@font-face{
	font-family:Latolight ;
	src: url(../fonts/Latolight.ttf);
}
a{
	text-decoration: none;
	color: #0B2161;
}
.text-center{
	text-align: center;
}
.text-gray{
	color:#424242;
}
.lista-sinestilo{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.display-ib{
	display: inline-block;
}
.ptb-2{
	padding-top: 2%;
	padding-bottom: 2%;
}
.pt-5{
	padding-top: 5%;
}
.pt-25{
	padding-top: 25%;
}
.pb-25{
	padding-bottom: 25%;
}
.pl-2{
	padding-left: 2%;
}
header img{
	max-width: 100%;
}
.unete img{
	max-width: 40%;
	margin: 0;
	padding: 0;
}
.unete p:hover{
	color: #0B2161;
}
.redes img{
	max-width: 15%;
	margin: 0;
	padding: 0;
}
.redes img:hover{
	transform: scale(1.1);
	border-bottom: 1px solid #0B2161;
}